/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.menu ul{
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
}

.menu a{
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-right: 10px;
}

section#body_content h1{
  display: none;
}